body {
  background-color: #b2bec3; 
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}
h1 {
  background-color: #2d3436;
  color: #dfe6e9;
}
h2 {
	color: ;
}
p {
  color: red;
}
table th, td {
	padding: 7px;
	background-color: #dfe6e9;
	border: 2px solid black;
  	width: 90px;
}
